$page-padding: 3rem;

#about-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  overflow: hidden;
  gap: 2rem;
  max-width: 80rem;
  width: 85%;
  min-width: 55rem;
  padding: 12rem 3rem 0;

  #title-text {
    font-size: 4rem;
    color: black;
    font-family: "hebrew-condensed", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 4.5rem;

    #rolling-break {
      display: none;
    }

    span {
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      font-family: inherit;
    }
  }

  .header-accent {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5rem;

    #accent-border {
      position: relative;
      height: 1px;
      background-color: #e1e1e1;
      z-index: 1;
      flex-grow: 1;

      .text {
        background-color: white;
        position: absolute;
        left: 3rem;
        top: -7px;
        padding: 0 0.75rem;
      }

      .text-style {
        color: #1d1d20;
        font-size: 0.7rem;
      }
    }

    #rotating-text {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10rem;
      width: 10rem;
      z-index: 5;

      #micro-animation-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;

        #micro-animation {
          background-color: black;
          height: 100%;
          width: 100%;
        }
      }

      #spark {
        background-color: black;
        height: 60%;
        width: 60%;
      }
    }
  }
}

#about-info-header {
  display: flex;
  flex-direction: column;
  padding: 0 0 4rem 0;
  background: linear-gradient(white, #e9eaeb);
  width: 100%;
  align-items: center;

  #about-section {
    display: flex;
    position: relative;
    width: 100%;
    gap: 8rem;
    max-width: 80rem;
    width: 85%;
    min-width: 55rem;
    padding: 6rem 3rem 0;

    #about {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      #about-text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 21rem;

        #about-description {
          font-family: "Open sans";
          font-size: 0.8rem;
          line-height: 1.4rem;
          color: black;
          text-align: justify;
        }

        #divider-wrapper {
          position: relative;
          width: 100%;

          #divider {
            position: absolute;
            left: 0;
            top: 0;
            width: 90vw;
            height: 1px;
            background-color: #ebebec;
          }
        }

        .work-history {
          display: flex;
          justify-content: space-between;

          .position-location {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
          }

          .label {
            font-family: "Open sans";
            font-size: 0.8rem;
          }

          .accent {
            font-family: "Open sans";
            font-size: 0.65rem;
            color: #a8a8a8;
          }
        }

        a {
          color: #1b2db4;
          font-size: 0.8rem;
          text-decoration: underline;
          display: flex;
          gap: 0.25rem;
          cursor: pointer;
          margin-top: 1.5rem;

          app-svg-icon {
            height: 1rem;
            width: 1rem;
            background-color: #1b2db4;
            z-index: 100;
            transform: rotate(135deg);
          }
        }
      }
    }

    #about-headshot-wrapper {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      #image-wrapper {
        z-index: 10;
        height: 110vh;
        overflow: hidden;
        position: relative;

        #about-headshot {
          width: 100%;
          height: 130%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      #quote {
        font-family: "Open sans";
        font-size: 0.9rem;
        line-height: 1.4rem;
        text-align: end;
        padding: 4rem 0 4rem;
        align-self: flex-end;
      }
    }
  }
}

.list-wrapper {
  max-width: 80rem;
  min-width: 55rem;
  width: 85%;
  padding: 0 $page-padding;

  #list-label {
    width: 100%;
    font-size: 1.5rem;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 2rem;
    margin: 2rem 0;
  }

  .list-section {
    display: flex;
    justify-content: space-between;

    .left-col {
      width: 30%;
      max-width: 30%;

      span {
        font-size: 0.9rem;
        font-weight: 600;
        vertical-align: top;
      }

      .superscript {
        font-size: 0.5rem;
      }

      p {
        font-family: "Open sans";
        margin-bottom: 1rem;
        font-size: 0.85rem;
        line-height: 1.75rem;
        text-align: justify;
      }

      &.wide {
        max-width: 45%;
        width: 45%;
      }
    }

    .right-col {
      width: 60%;
      max-width: 60%;
      position: relative;

      &.technology-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1.5rem;
        height: 12.5rem;

        .technology-row {
          display: flex;
          gap: 1.5rem;

          .technology {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 20px;
            border-radius: 5px;
            width: 9rem;

            app-svg-icon {
              height: 2rem;
              width: 2rem;
              background-color: #1d1d20;
            }

            span {
              font-size: 1rem;
              font-style: normal;
              color: #1d1d20;
            }
          }
        }
      }

      &.accolade-wrapper {
        display: flex;
        justify-content: flex-end;

        .accolade {
          display: flex;
          gap: 1.5rem;
          align-items: center;
          width: 80%;

          img {
            height: 6rem;
          }

          .accolade-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 90%;

            .description {
              font-family: "Open sans";
              font-size: 0.9rem;
            }

            .expiration {
              font-size: 0.75rem;
              color: #949494;
              font-style: italic;
            }
          }
        }
      }

      .life-images {
        display: flex;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          min-height: 100%;
          flex: 1 0 100%;
          object-fit: cover;
        }
      }

      &.wide {
        max-height: 80vh;
        overflow: hidden;
        max-width: 45%;
      }
    }

    &.grouped {
      padding: 4rem 0;
    }
  }
}

@media screen and (max-width: 768px) {
  #about-header {
    padding: 7rem 1.25rem 0;
    gap: 1rem;

    #title-text {
      font-size: 2rem;
      line-height: 2.75rem;

      #rolling-break {
        display: unset;
      }
    }

    .header-accent {
      gap: 2.5rem;
      height: 8rem;

      #accent-border {
        .text {
          top: -5px;
          padding: 0 0.5rem;
          left: 1rem;
        }

        #best-friend-text {
          display: none;
        }
      }

      #rotating-text {
        height: 8rem;
        width: 8rem;
        background-color: white;
        position: absolute;
        right: 2.25rem;
      }
    }
  }

  #about-info-header {
    padding: 0;

    #about-section {
      padding: 2rem 1.25rem;
      flex-direction: column-reverse;
      gap: 3rem;

      #about {
        #about-text {
          width: unset;
          padding-bottom: 3rem;

          #about-description {
            font-size: 0.95rem;
            line-height: 1.8rem;
            text-align: left;
          }

          #divider-wrapper {
            #divider {
              width: 100%;
              position: relative;
              background-color: #e3e3e3;
            }
          }

          .work-history {
            .label {
              font-size: 0.9rem;
            }
          }

          a {
            align-self: flex-end;
          }
        }
      }

      #about-headshot-wrapper {
        flex-direction: column-reverse;

        #image-wrapper {
          height: 70vh;

          #about-headshot {
            height: 120%;
          }
        }

        #quote {
          font-size: 1rem;
          line-height: 1.4rem;
          text-align: start;
          padding: 1rem 0 3rem 0;
          align-self: flex-start;
          display: none;
        }
      }
    }
  }

  .list-wrapper {
    padding: 0 1.25rem;

    #list-label {
      margin: 8rem 0 2rem;
    }

    .list-section {
      flex-direction: column;
      gap: 2rem;

      .left-col {
        width: 100%;
        max-width: 100%;

        &.wide {
          width: 100%;
          max-width: 100%;
        }
      }

      .right-col {
        width: 100%;
        max-width: 100%;

        &.technology-wrapper {
          height: unset;

          .technology-row {
            width: 100%;
            justify-content: space-around;
          }
        }

        &.accolade-wrapper {
          .accolade {
            width: 100%;

            img {
              display: none;
            }

            .accolade-info {
              height: unset;
              padding-left: 1.25rem;
              gap: 1rem;

              .description {
                line-height: 1.4rem;
                text-align: start;
              }
            }
          }
        }

        &.wide {
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }

  #certificates {
    .list-section {
      padding: 2rem 0;
      gap: 1rem;
    }
  }
}
