#about-header {
  width: 100%;
  height: calc(80vh - 8rem);
  position: relative;
  display: flex;
  justify-content: center;
  background-color: white;
  padding-top: 8rem;
  z-index: 100;
  overflow: hidden;

  span {
    font-size: 4rem;
    max-width: 80%;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-weight: 700;
    line-height: 3.85rem;
  }

  #rolling-text {
    color: #4072d3;
  }

  #accent-border {
    height: 1px;
    width: 110%;
    background-color: rgb(207, 207, 207);
    position: absolute;
    transform: rotate(0deg);
    left: 0;
    top: 72%;
    z-index: 1;
  }

  #rotating-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 10rem;
    top: calc(72% - 5rem);
    right: 12%;
    z-index: 5;

    #micro-animation {
      background-color: black;
      position: absolute;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
    }

    #spark {
      background-color: black;
      height: 60%;
      width: 60%;
    }
  }

  .blink-cursor {
    color: black;
    animation: blink 1.5s infinite;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

#header-image {
  width: 100%;
  height: 85vh;
  object-fit: cover;
  position: relative;
  z-index: 10;
}

#quote-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 11rem 0;
  position: relative;
  z-index: 1;
  background-color: white;

  span {
    text-align: center;

    &:first-child {
      font-size: 2rem;
    }

    &:last-child {
      font-size: 1rem;
      color: #969696;
    }
  }
}

#gradient-background {
  display: flex;
  flex-direction: column;
  background: linear-gradient(white, #e9eaeb);
  padding: 4rem 0 0 0;
  position: relative;
  z-index: 1;
  overflow: hidden;

  #about-section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    #about-wrapper {
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
      gap: 2.5rem;

      #about {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 25%;

        #about-text {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          width: 80%;

          #about-description {
            font-size: 0.8rem;
            line-height: 1.4rem;
            color: black;
          }

          #divider-wrapper {
            position: relative;
            width: 100%;

            #divider {
              position: absolute;
              left: 0;
              top: 0;
              width: 90vw;
              height: 1px;
              background-color: #ebebec;
            }
          }

          .work-history {
            display: flex;
            justify-content: space-between;

            .position-location {
              display: flex;
              flex-direction: column;
              gap: 0.25rem;
            }

            .label {
              font-size: 0.8rem;
            }

            .accent {
              font-size: 0.75rem;
              color: #a8a8a8;
            }
          }

          a {
            color: #4072d3;
            font-size: 0.9rem;
            text-decoration: underline;
          }
        }
      }

      #about-headshot-wrapper {
        z-index: 10;
        width: 57%;
        height: 110vh;
        overflow: hidden;
        position: relative;

        #about-headshot {
          width: 100%;
          height: 120%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      app-svg-icon {
        position: absolute;
        bottom: -4rem;
        right: 2rem;
        height: 10rem;
        width: 10rem;
        background-color: black;
        z-index: 100;
      }
    }
  }

  #list-label {
    font-size: 2.25rem;
    padding: 7rem 6rem 6rem;
  }

  #list-wrapper {
    display: flex;
    width: calc(100% - 12rem);
    padding: 0 6rem 8rem;
    justify-content: space-between;
    gap: 6rem;

    .list-item {
      display: flex;
      flex-direction: column;

      .index {
        position: relative;
        font-size: 0.9rem;
        color: #bcbcbc;
        padding-bottom: 1rem;
      }

      .divider {
        width: 100%;
        height: 1px;
        background-color: #bcbcbc;
      }

      .title {
        font-size: 1.5rem;
        padding: 2rem 0;
        color: #1c1d20;
      }

      .description {
        font-size: 0.85rem;
        line-height: 1.5rem;
        color: #1c1d20;
      }
    }
  }
}

#quote-wrapper-2 {
  display: flex;
  justify-content: center;
  padding-top: 7rem;

  #quote-image-wrapper {
    position: sticky;
    top: 10vh;
    width: 70%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;

    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    #quote-text {
      position: absolute;
      left: 0%;
      top: 0%;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      span {
        color: white;
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        font-weight: 700;
        font-size: 2rem;
      }

      .small {
        font-size: 1rem;
      }
    }

    .angle {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 2rem;
      width: 2rem;
      background-color: white;

      &.left {
        left: 1rem;
      }

      &.right {
        transform: rotate(180deg) translateY(-50%);
        right: 1rem;
      }
    }
  }
}

#technologies-wrapper {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 14rem 8rem;
  width: calc(100% - 16rem);
  background-color: white;
  color: black;
  gap: 4rem;
  font-family: "Open Sans", sans-serif;

  #technology-title {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 700;
    padding-bottom: 2.5rem;
  }

  .technology-list {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .technology {
      display: flex;
      gap: 0.75rem;
      align-items: center;
      width: 9rem;

      span {
        font-style: italic;
        font-weight: 500;
        color: #636363;
      }

      app-svg-icon {
        height: 3rem;
        width: 3rem;
        background-color: #636363;
      }
    }
  }
}

#accolades-section {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 8rem 0;
  position: relative;
  z-index: 1;
  background-color: white;
  border-radius: 0 0 40px 40px;

  #accolades-wrapper {
    display: flex;
    gap: 5rem;
    width: 70%;
    height: 35rem;

    img {
      height: 100%;
      width: calc(50% - 3rem);
      object-fit: cover;
    }

    #accolades-list {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: calc(50% - 3rem);
      padding: 2.5rem 0;

      .accolade {
        display: flex;
        flex-direction: column;

        .accolade-header {
          display: flex;
          gap: 1.25rem;
          align-items: center;

          img {
            height: 3.5rem;
            width: 3.5rem;
          }

          .accolade-info {
            display: flex;
            flex-direction: column;
            gap: 0.15rem;

            .accolade-title {
              font-size: 0.9rem;
              font-weight: 500;
              color: black;
            }

            .accolade-expiration {
              font-size: 0.6rem;
              font-weight: 400;
              color: #bcbcbc;
            }
          }
        }

        .accolade-description {
          color: #343434;
          font-size: 0.65rem;
          margin-left: 4.75rem;
        }

        .divider {
          width: 100%;
          height: 1px;
          background-color: #d5d5d5;
        }
      }
    }
  }
}

#portfolio {
  width: 100%;
  max-width: 100%;
  padding: 12rem 0 4rem 0;
  overflow: hidden;
  gap: 2rem;

  .portfolio-wrapper {
    display: flex;
    gap: 7rem;
    padding: 1rem 0;
    width: 100%;
    transform: rotate(-5deg);
    // margin-left: -18rem;

    .technology-2 {
      display: flex;
      gap: 1rem;
      align-items: center;
      width: 20rem;

      span {
        color: black;
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        font-weight: 700;
        color: #636363;
        font-size: 1.7rem;
      }

      app-svg-icon {
        height: 4rem;
        width: 4rem;
        background-color: #636363;
      }
    }
  }
}
