<section>
  <div id="about-header" class="section-wrapper">
    <span
      >SCROLL TO FIND OUT MORE ABOUT ME BEING A <br />
      <span id="rolling-text">{{ rollingText }}</span>
      <span id="rolling-text-cursor" class="blink-cursor">|</span>
    </span>

    <div id="circle-text" #circleText></div>
    <div id="accent-border"></div>

    <div id="rotating-text">
      <app-svg-icon id="micro-animation" [path]="'../../assets/icons/micro-animation.svg'"></app-svg-icon>
      <app-svg-icon id="spark" [path]="'../../assets/icons/spark.svg'"></app-svg-icon>
    </div>
  </div>
</section>

<div id="gradient-background">
  <section>
    <div id="about-section" class="section-wrapper">
      <div id="about">
        <div id="about-text">
          <span id="about-description">
            A dedicated and goal-oriented software engineer with 6+ years of experience in commercial application
            development. At Northrop Grumman, I played a key role.
          </span>
          <div id="divider-wrapper">
            <div id="divider"></div>
          </div>
          <div class="work-history" *ngFor="let history of workHistory">
            <div class="position-location">
              <span class="label">{{ history.position }}</span>
              <span class="accent">{{ history.location }}</span>
            </div>
            <span class="label">{{ history.timeframe }}</span>
          </div>
          <!-- <a>Download Resume <app-svg-icon [path]="'assets/icons/link-arrow.svg'" class="md dark"></app-svg-icon></a> -->
        </div>
      </div>
      <div id="about-headshot-wrapper">
        <img src="../../assets/hayden_about.JPG" alt="Hayden Headshot" id="about-headshot" />
      </div>
      <app-svg-icon [path]="'../../assets/icons/micro-animation.svg'"></app-svg-icon>
    </div>
  </section>

  <section id="portfolio" class="flex-center">
    <div class="portfolio-wrapper" id="portfolio1">
      <div class="technology-2" *ngFor="let technology of technologies1">
        <app-svg-icon [path]="technology.icon"></app-svg-icon>
        <span>{{ technology.name }}</span>
      </div>
    </div>
    <div class="portfolio-wrapper" id="portfolio2">
      <div class="technology-2" *ngFor="let technology of technologies2">
        <app-svg-icon [path]="technology.icon"></app-svg-icon>
        <span>{{ technology.name }}</span>
      </div>
    </div>
  </section>

  <!-- <div id="quote-wrapper-2">
    <div id="quote-image-wrapper">
      <img id="quote-image" src="../../assets/about_quote.png" />
      <div id="quote-text">
        <span class="small">Quote of the Day:</span>
        <div>
          <span>AN IDIOT ADMIRES COMPLEXITY,</span><br />
          <span>A GENIUS ADMIRES SIMPLICITY</span>
        </div>
      </div>
      <app-svg-icon [path]="'assets/icons/angle_accent.svg'" class="angle left"></app-svg-icon>
      <app-svg-icon [path]="'assets/icons/angle_accent.svg'" class="angle right"></app-svg-icon>
    </div>
  </div> -->

  <section>
    <div class="section-wrapper">
      <span id="list-label">What can I do for you...</span>

      <div id="list-wrapper">
        <div class="list-item" *ngFor="let item of listItems; let index = index">
          <div class="index">0{{ index + 1 }}</div>
          <div class="divider"></div>
          <label class="title">{{ item.title }}</label>
          <p class="description">{{ item.description }}</p>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- <div id="technologies-wrapper">
  <span id="technology-title">TECHNOLOGIES I AM DANGEROUS WITH...</span>
  <div class="technology-list">
    <div class="technology" *ngFor="let technology of technologies1">
      <app-svg-icon [path]="technology.icon"></app-svg-icon>
      <span>{{ technology.name }}</span>
    </div>
  </div>
  <div style="width: 100%; height: 1px; background-color: black"></div>
  <div class="technology-list">
    <div class="technology" *ngFor="let technology of technologies2">
      <app-svg-icon [path]="technology.icon"></app-svg-icon>
      <span>{{ technology.name }}</span>
    </div>
  </div>
</div> -->

<section>
  <div id="accolades-section" class="section-wrapper">
    <div id="accolades-wrapper">
      <img src="../../assets/about-computer.png" />
      <div id="accolades-list">
        <div class="accolade" *ngFor="let accolade of accolades">
          <div class="accolade-header">
            <img *ngIf="!accolade.divider" alt="Test" [src]="accolade.image" />
            <div *ngIf="!accolade.divider" class="accolade-info">
              <span class="accolade-title">{{ accolade.title }}</span>
              <span class="accolade-expiration">{{ accolade.expiration }}</span>
            </div>
          </div>
          <span class="accolade-description">{{ accolade.description }}</span>
          <div *ngIf="accolade.divider" class="divider"></div>
        </div>
      </div>
    </div>
  </div>
</section>
