<section>
  <div id="about-header" class="section-wrapper">
    <span id="title-text">
      I'M HAYDEN, A
      <br id="rolling-break" />
      <span id="rolling-text">{{ rollingText }}</span>
      <span id="rolling-text-cursor" class="blink-cursor">|</span>
      <br />
      {{ locationText }}
    </span>

    <div id="header-accent" class="header-accent">
      <div id="accent-border">
        <div class="text text-style">A LITTLE BIT <span id="best-friend-text" class="text-style">ABOUT ME</span></div>
      </div>

      <div id="rotating-text-wrapper">
        <div id="rotating-text">
          <div id="micro-animation-wrapper">
            <app-svg-icon id="micro-animation" [path]="'../../assets/icons/curve text.svg'"></app-svg-icon>
          </div>
          <app-svg-icon id="spark" [path]="'../../assets/icons/spark.svg'"></app-svg-icon>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div id="about-info-header">
    <div id="about-section" class="section-wrapper">
      <div id="about">
        <div id="about-text">
          <span id="about-description">
            I’ve spent over half a decade as a full stack developer at Northrop Grumman, gradually taking on more
            responsibilities and eventually leading multiple projects as a technical lead. These experiences have
            strengthened my skills and deepened my passion for collaborative work environments. I bring a strong eye for
            design and love blending functionality with creativity.
          </span>
          <div id="divider-wrapper">
            <div id="divider"></div>
          </div>
          <div class="work-history" *ngFor="let history of workHistory">
            <div class="position-location">
              <span class="label">{{ history.position }}</span>
              <span class="accent">{{ history.location }}</span>
            </div>
            <span class="label">{{ history.timeframe }}</span>
          </div>
          <a href="assets/hayden_westfall_resume.pdf" target="_blank" rel="noopener noreferrer"
            >View Resume <app-svg-icon [path]="'assets/icons/link-arrow.svg'" class="md dark"></app-svg-icon
          ></a>
        </div>
      </div>
      <div id="about-headshot-wrapper">
        <div id="image-wrapper">
          <img src="../../assets/about/headshot.webp" alt="Hayden Headshot" loading="eager" id="about-headshot" />
        </div>

        <div id="quote">
          AN IDIOT ADMIRES COMPLEXITY, A GENIUS ADMIRES SIMPLICITY<br />
          <span style="font-style: italic; font-size: 0.75rem">- AARON DAVIS</span>
        </div>

        <div id="accent">
          Bragging about myself <app-svg-icon [path]="'assets/icons/link-arrow.svg'" class="md light"></app-svg-icon>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="section-wrapper list-wrapper" style="padding-top: 4rem">
    <div id="list-label">TECHNOLOGIES</div>

    <div class="list-section grouped" *ngFor="let technologyGroup of technologies; let i = index">
      <div class="left-col">
        <span>{{ technologyGroup.label }}</span>
      </div>

      <div class="right-col technology-wrapper">
        <div class="technology-row" *ngFor="let technologyGroup of technologyGroup.technologies; let index = index">
          <div class="technology" *ngFor="let technology of technologyGroup">
            <app-svg-icon [path]="technology.icon"></app-svg-icon>
            <span>{{ technology.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="section-wrapper list-wrapper" id="certificates">
    <div id="list-label">CERTIFICATIONS</div>

    <div class="list-section grouped" *ngFor="let certificate of certifications; let index = index">
      <div class="left-col">
        <span>
          <span class="superscript">/0{{ index + 1 }}</span>
          {{ certificate.name }}
        </span>
      </div>

      <div class="right-col accolade-wrapper">
        <div class="accolade">
          <img [src]="certificate.image" />
          <div class="accolade-info">
            <span class="description">{{ certificate.description }}</span>
            <span class="expiration">{{ certificate.expiration }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="padding-bottom: 10rem">
  <div class="section-wrapper list-wrapper">
    <div id="list-label">PERSONAL LIFE</div>

    <div class="list-section">
      <div class="left-col wide">
        <p>
          When I’m not behind a screen, I love spending time with my wife, Madison, watching my favorite sports teams,
          and golfing. Madison and I share a passion for travel, with our most recent trips taking us to Las Vegas,
          Hawaii, and Alaska.
        </p>
        <p>
          During the summer, you’ll often find me on the golf course, enjoying rounds with friends and family. Though I
          was born and raised in Ohio, I’m a dedicated New England Patriots fan—no matter how much flak I catch from it!
        </p>
        <p>
          I’ve also recently branched out into freelance web development, offering full-stack development, web design,
          and hosting services to a range of clients. This side hustle has been a fantastic way to explore my creative
          side and dive deeper into the world of web development.
        </p>
      </div>

      <div class="right-col wide">
        <div class="life-images">
          <img loading="eager" src="../../assets/about/1.webp" />
          <img loading="lazy" src="../../assets/about/2.webp" />
          <img loading="lazy" src="../../assets/about/3.webp" />
          <img loading="lazy" src="../../assets/about/4.webp" />
          <img loading="lazy" src="../../assets/about/1.webp" />
        </div>
      </div>
    </div>
  </div>
</section>
