a {
  text-decoration: none;
  height: fit-content;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

.navbar-wrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 4rem);
  z-index: 1000;
  justify-content: space-between;
  padding: 2rem;

  #logo {
    font-size: 2rem;
  }

  #links {
    display: flex;
    gap: 2rem;

    a {
      font-size: 1rem;
      font-family: "Open Sans", sans-serif;
      font-style: italic;
      font-weight: 600;
    }
  }
}
