<div class="navbar-wrapper" hideOnScroll [dontHide]="showNav" [ngClass]="[transparentMode, navbarClass]">
  <div class="navbar section-wrapper">
    <a class="rolling-btn" routerLink="/">
      <span [attr.data-hover]="'//\\/\\/\\ &nbsp;&nbsp;HAYDEN\'S PORTFOLIO'"
        ><span id="logo">//\/\/\&nbsp;&nbsp;</span>HAYDEN WESTFALL</span
      >
    </a>
    <div id="links">
      <a [attr.id]="link.id" *ngFor="let link of navbarLinks" routerLink="{{ link.route }}" class="rolling-btn">
        <span [attr.data-hover]="link.label">{{ link.label }}</span>
      </a>
    </div>
    <a id="menu" (click)="showSlideInPanel = !showSlideInPanel">
      <span>{{ showSlideInPanel ? "Close" : "Menu" }}</span>
    </a>
  </div>

  <div id="slide-in-panel" class="flex-center" [ngStyle]="{ left: showSlideInPanel ? '0' : '100%' }">
    <div id="links" class="flex-center">
      <a [attr.id]="link.id" *ngFor="let link of navbarLinks" routerLink="{{ link.route }}">
        {{ link.label }}
        <div *ngIf="link.count">{{ link.count }}</div>
      </a>
    </div>
    <div id="socials-wrapper">
      <span>Socials</span>
      <div id="socials">
        <a *ngFor="let social of socials" href="{{ social.link }}" target="_blank">{{ social.label }}</a>
      </div>
    </div>
  </div>
</div>
