<section>
  <div id="project-header-wrapper" class="section-wrapper">
    <div id="project-header">
      <span id="header">PROJECTS</span><br />
      <span
        >Due to non-disclosure agreements (NDAs) and copyright restrictions, I am unable to showcase all of the designs
        and projects I have worked on. While the examples presented here highlight my skills and experience, please
        understand that some of my work is confidential and cannot be publicly shared.</span
      >
    </div>
    <img src="../../assets/code-block.png" />
  </div>
</section>

<section>
  <div class="section-wrapper">
    <app-showcase [multi]="false" [projects]="featuredProjects"></app-showcase>
  </div>
</section>
