#project-header-wrapper {
  display: flex;
  background-color: white;
  align-items: center;
  position: relative;
  z-index: 10;

  #project-header {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    font-family: "Open Sans", sans-serif;
    flex-grow: 1;

    #header {
      font-size: 7rem;
      font-weight: 700;
      font-style: italic;
    }

    span {
      font-size: 0.8rem;
      max-width: 38rem;
      margin-top: -1rem;
    }
  }

  img {
    width: 38%;
    height: 100%;
    object-fit: cover;
  }
}
