section {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 8rem 0;
  background-color: #17171a;
  height: 100vh;
  overflow: hidden;
  border-bottom: 1px solid #2e2e34;

  h1 {
    font-size: 3.25rem;
    line-height: 4rem;
    color: white;
    width: 75%;
    text-align: center;
  }

  .email-wrapper {
    position: relative;
    height: 14rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .focus-email-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      color: white;
      z-index: 10;

      span {
        font-size: 1rem;
      }

      .email {
        font-size: 3.5rem;
        font-style: italic;
        font-weight: 600;
      }
    }
  }

  .name-wrapper {
    position: relative;
    pointer-events: none;
    top: 0;

    .name-slider {
      position: relative;
      white-space: nowrap;

      p {
        position: relative;
        margin: 0px;
        color: #1e1e22;
        font-size: 12rem;
        padding-right: 50px;
        font-style: italic;
        font-weight: 600;

        &:nth-of-type(2) {
          position: absolute;
          left: 100%;
          top: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  section {
    gap: 0;

    h1 {
      font-size: 1.6rem;
      line-height: unset;
    }

    .email-wrapper {
      .focus-email-wrapper {
        .email {
          font-size: 1.5rem;
        }
      }
    }
  }
}
