<section>
  <h1 id="contact-header">WANT TO GET IN TOUCH?<br />GO ON, DON'T BE SHY</h1>

  <div class="email-wrapper" id="contact-main">
    <div class="focus-email-wrapper">
      <span>Email me at:</span>
      <div class="email">WESTFALLHAYDEN&#64;GMAIL.COM</div>
    </div>
    <div class="name-wrapper">
      <div id="email-slider" class="name-slider">
        <p id="email-primary">WESTFALLHAYDEN&#64;GMAIL.COM</p>
        <p id="email-secondary">WESTFALLHAYDEN&#64;GMAIL.COM</p>
      </div>
    </div>
  </div>
</section>
