<section id="work-header">
  <span>PROJECTS</span>
  <div class="filter-wrapper">
    <div
      class="button-container"
      (click)="filterProjects('all')"
      appParallaxButton
    >
      <div class="button-wrapper" id="button1">
        <button>All</button>
      </div>
    </div>
    <div
      class="button-container"
      (click)="filterProjects('professional')"
      appParallaxButton
    >
      <div class="button-wrapper" id="button2">
        <button>Professional</button>
      </div>
    </div>
    <div
      class="button-container"
      (click)="filterProjects('freelance')"
      appParallaxButton
    >
      <div class="button-wrapper" id="button3">
        <button>Freelance</button>
      </div>
    </div>
  </div>
</section>

<section id="work-section">
  <div class="table-row-wrapper">
    <div id="table-header">
      <span style="width: 40%">Project</span>
      <span style="width: 24%">Role</span>
      <span style="width: 30%">Stack</span>
      <span style="width: 6%; text-align: end">Year</span>
    </div>
  </div>
  <div
    class="table-row-wrapper"
    *ngFor="let project of shownProjects"
    (mouseenter)="project.hover = true"
    (mouseleave)="project.hover = false"
  >
    <div id="table-row">
      <span style="width: 40%" class="project-name">{{ project.name }}</span>
      <span style="width: 24%">{{ project.role }}</span>
      <span style="width: 30%">{{ project.stack }}</span>
      <span style="width: 6%; text-align: end">{{ project.year }}</span>
    </div>
    <div class="row-hover" *ngIf="project.hover">
      <div class="marquee-wrapper">
        <div
          *ngFor="let i of [].constructor(20); let index = index"
          class="marquee-item"
        >
          {{ project.name }}
          <app-svg-icon [path]="'assets/icons/link-arrow.svg'"></app-svg-icon>
        </div>
      </div>
    </div>
  </div>

  <div style="margin: 4rem 0 8rem" class="button-container" appParallaxButton>
    <div class="button-wrapper" id="button4" style="width: 12rem">
      <button
        style="
          display: flex;
          gap: 0.2rem;
          justify-content: center;
          align-items: center;
        "
      >
        Start from the top
        <app-svg-icon [path]="'assets/icons/link-arrow.svg'"></app-svg-icon>
      </button>
    </div>
  </div>
</section>
