<app-navbar></app-navbar>

<div [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>

<app-footer></app-footer>

<div [@coverAnimation2]="coverState" (@coverAnimation2.done)="resetCover()" class="cover-container">
  <span id="accent1" class="text-accent top">{{ newRouteName }}</span>
  <span class="route-text">{{ newRouteName }}</span>
  <span id="accent2" class="text-accent bottom" [ngStyle]="{ right: accentRightAlignment }">{{ newRouteName }}</span>
</div>
