html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.cover-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 10rem);
  background: rgb(32, 32, 32);
  z-index: 10000;
  overflow: hidden;

  .route-text {
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-weight: 700;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    white-space: nowrap;
    z-index: 10;
    height: 2.3rem;
    padding-bottom: 10rem;
  }

  .text-accent {
    position: absolute;
    font-size: 5.5rem;
    height: 7rem;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-weight: 800;
    color: rgb(43, 43, 43);
    white-space: nowrap;
    z-index: 1;

    &.top {
      transform: rotate(-90deg);
      transform-origin: top left;
      top: 0%;
      left: 0;
    }

    &.bottom {
      transform: rotate(90deg);
      transform-origin: left bottom;
      bottom: 0%;
      right: 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .cover-container {
    .route-text {
      font-size: 1.75rem;
    }
    .text-accent {
      font-size: 3.5rem;
      height: 4.5rem;
    }
  }
}
