html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.cover-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 10rem);
  background-color: #1d1d20;
  z-index: 10000;
  overflow: hidden;

  .route-text {
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-weight: 700;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    white-space: nowrap;
    z-index: 10;
    height: 2.3rem;
    padding-bottom: 10rem;
  }
}

.animateCover {
  transition: transform 1s cubic-bezier(0.87, 0, 0.13, 1);
}

.initial {
  transform: translateY(100%);
}

.show {
  transform: translateY(0);
}

.hide {
  transform: translateY(calc(-100% - 10rem));
}

@media only screen and (max-width: 768px) {
  .cover-container {
    .route-text {
      font-size: 1.75rem;
    }
  }
}
