/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  font-family: "hebrew-condensed", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: clamp(16px, 1.25vw, 19px);
  line-height: 1.15;
  box-sizing: border-box;
}

@font-face {
  font-family: "didot-italic";
  src: url(./assets/didot-italic.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "helios-antique";
  src: url(./assets/Helios-Antique-Medium.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "hebrew-condensed";
  src: url(./assets/font/OpenSansHebrewCondensed-Regular.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "hebrew-condensed";
  src: url(./assets/font/OpenSansHebrewCondensed-Bold.ttf);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "heathergreen";
  src: url(./assets/font/Heathergreen.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #1d1d20;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

section {
  background-color: white;
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;

  .section-wrapper {
    width: 100%;
    max-width: 80rem;
  }
}

/**********************************************
** Header Styles
**********************************************/

h1 {
  font-size: 12rem;
  font-weight: 700;
}

h2 {
  font-size: 7rem;
  font-weight: 600;
}

h3 {
  font-size: 2.5rem;
  font-weight: 700;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

h5 {
  font-size: 1.25rem;
  font-weight: 500;
}

.link {
  color: #2d6ee2;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-decoration: none;
  font-style: unset;
  font-family: Inter, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  app-svg-icon {
    height: 1.2rem !important;
    width: 1.2rem !important;
    background-color: #2d6ee2 !important;
  }
}

#page-wrapper {
  background-color: white;
  position: relative;
  z-index: 10;
  border-radius: 0 0 40px 40px;
}

.hds-btn {
  background-color: #040404;
  color: white;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-decoration: none;
  cursor: pointer;

  &.sm {
    height: 1rem;
    width: 1rem;
  }

  &.md {
    padding: 0.8rem 2rem;
    font-size: 0.6rem;
    gap: 0.25rem;
    font-weight: 300;
  }

  &.lg {
    font-size: 1.2rem;
    padding: 1.6rem 3rem;
    gap: 0.5rem;
    font-weight: 300;
  }

  &.white {
    background-color: #ffffff;
    border: 1px solid #e4e4e4;
    color: #040404;
  }

  &.light {
    background-color: #313131;
    border: 1px solid #e4e4e4;
    color: #040404;
  }

  &.dark {
    background-color: #040404;
    color: white;
  }
}

app-svg-icon {
  display: block;

  &.sm {
    height: 1rem;
    width: 1rem;
  }

  &.md {
    height: 1.2rem;
    width: 1.2rem;
  }

  &.lg {
    height: 2rem;
    width: 2rem;
  }

  &.light {
    background: #040404;
  }

  &.dark {
    background: white;
  }
}

.flex-center {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1d1d20;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  animation: fadeIn 0.215s linear;

  .marquee-wrapper {
    display: flex;
    align-items: center;
    animation: marquee 45s linear infinite;

    .marquee-item {
      color: white;
      display: flex;
      align-items: center;
      gap: 4rem;
      padding-right: 4rem;
      font-size: 1.75rem;

      app-svg-icon {
        background-color: white;
        height: 2rem;
        width: 2rem;
      }
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      transform: 1;
    }
  }
}

.button-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border-radius: 100px;

  .button-wrapper {
    height: 3.25rem;
    color: #fff;
    text-align: center;
  }

  button,
  a {
    background-color: white;
    border: 1px solid #c3c3c3;
    border-radius: 10rem;
    cursor: pointer;
    font-size: 0.8rem;
    width: 100%;
    height: 100%;
    padding: 0.8rem 2rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    app-svg-icon {
      height: 1rem;
      width: 1rem;
      background-color: black;
    }

    &:hover {
      border: 1px solid black;
    }
  }
}

.circle-button {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s ease;
  font-family: "hebrew-condensed";
  font-weight: 600;
  font-size: 1.25rem;
  height: 9rem;
  width: 9rem;
  text-decoration: none;
  z-index: 10;

  &.translucent {
    background-color: rgba(255, 255, 255, 0.151);
    backdrop-filter: blur(5px);

    &:hover {
      background-color: white;
      color: black;

      &::before {
        animation: rotate 20s linear infinite;
      }

      app-svg-icon {
        background-color: black;
      }
    }

    &::before {
      content: "";
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='1000' ry='1000' stroke='white' stroke-width='1' stroke-dasharray='9' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
    }
  }

  &.light {
    background-color: #ffffff;
    color: black;

    &:hover {
      background-color: #dddddd;

      &::before {
        animation: rotate 20s linear infinite;
      }
    }

    app-svg-icon {
      background-color: black;
    }

    &::before {
      content: "";
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='1000' ry='1000' stroke='white' stroke-width='1' stroke-dasharray='9' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
    }
  }

  &.dark {
    background-color: #1d1d20;

    &:hover {
      background-color: #f1f1f1;
      color: black;

      &::before {
        animation: rotate 20s linear infinite;
      }

      app-svg-icon {
        background-color: black;
      }
    }

    &::before {
      content: "";
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='1000' ry='1000' stroke='black' stroke-width='1' stroke-dasharray='9' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -1rem;
    left: -1rem;
    height: calc(100% + 2rem);
    width: calc(100% + 2rem);
    transition: transform 1s;
  }

  div {
    display: flex;
    gap: 0.25rem;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rolling-btn {
  overflow: hidden;
  text-align: left;
  cursor: pointer;
  float: left;

  span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.4s;
  }

  span::before {
    position: absolute;
    top: 100%;
    left: 0;
    content: attr(data-hover);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  &:hover span {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 12rem;
    font-weight: 700;
  }

  h2 {
    font-size: 6rem;
    line-height: 6rem;
  }

  h3 {
    font-size: 1.8rem;
    font-weight: 700;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  h5 {
    font-size: 1.25rem;
    font-weight: 500;
  }

  .circle-button {
    gap: 0.4rem;
    font-size: 0.8rem;
    height: 8rem;
    width: 8rem;

    &.translucent {
      background-color: #1d1d20;
    }

    &::before {
      display: none;
    }
  }
}
