<section style="max-width: 100%; overflow: hidden; position: relative">
  <div id="hero-section" class="section-wrapper">
    <app-svg-icon [path]="'assets/icons/angle_accent.svg'" class="angle left" />
    <app-svg-icon [path]="'assets/icons/angle_accent.svg'" class="angle right" />
    <div id="roles">
      <h5 id="role-primary" class="role"></h5>
      <h5 id="role-secondary" class="role"></h5>
    </div>
    <a class="circle-button light" id="hero-contact" routerLink="/contact" appParallaxButton>
      <div id="contact-btn-text">
        LETS TALK
        <app-svg-icon [path]="'assets/icons/link-arrow.svg'" class="md dark"></app-svg-icon>
      </div>
    </a>
  </div>
  <div class="name-wrapper">
    <div id="name-slider" class="name-slider">
      <p id="name-primary">HAYDEN WESTFALL -</p>
      <p id="name-secondary">HAYDEN WESTFALL -</p>
      <p id="name-tertiary">HAYDEN WESTFALL -</p>
    </div>
  </div>
  <img id="bg" class="abs-position" src="../../assets/home/hero_image.webp" />
</section>

<section>
  <div id="about-section" class="flex-center section-wrapper">
    <h3 id="about-header">
      Hi, I'm Hayden, a software engineer with over six years of experience as a full stack developer. I’m passionate
      about UI/UX design and delivering scalable solutions. As a strong communicator, team player, and problem solver, I
      also take on freelance work, which allows me to express my creativity.
    </h3>
    <img loading="lazy" src="../../assets/home/logo_bg.webp" alt="logo-watermark" />

    <a id="about-btn" routerLink="/about" class="circle-button dark" appParallaxButton>
      <div id="about-btn-text">
        About Me
        <app-svg-icon [path]="'assets/icons/link-arrow.svg'" class="sm dark"></app-svg-icon>
      </div>
    </a>
  </div>
</section>

<section>
  <div id="work-section" class="section-wrapper">
    <app-multi-showcase [multi]="true" [projects]="featuredProjects" />
    <a id="sub-link" class="link" routerLink="/work"> All Projects (6) </a>
  </div>
</section>

<section>
  <div id="portfolio-section" class="flex-center">
    <div class="portfolio-wrapper" id="portfolio-1-home">
      <div
        class="portfolio-item flex-center"
        *ngFor="let item of portfolio1"
        [ngStyle]="{ 'background-color': item.bg }"
      >
        <img loading="lazy" [src]="item.img" />
      </div>
    </div>
    <div class="portfolio-wrapper" id="portfolio-2-home">
      <div
        class="portfolio-item flex-center"
        *ngFor="let item of portfolio2"
        [ngStyle]="{ 'background-color': item.bg }"
      >
        <img loading="lazy" [src]="item.img" />
      </div>
    </div>
  </div>
</section>
