section {
  background-color: white;
  z-index: 10;
}

#hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .abs-position {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }

  #bg {
    z-index: 0;
  }

  #fg {
    z-index: 3;
    position: absolute;
    margin-left: 2.7rem;
  }

  #roles {
    position: absolute;
    top: calc(40% - 1rem);
    transform: translateY(-100%);
    left: 2rem;
    color: white;
    z-index: 5;

    span {
      font-family: "Open Sans", sans-serif;
      font-style: italic;
      font-weight: 600;
      font-size: 1.25rem;
    }
  }

  #contact-btn {
    position: absolute;
    right: 10rem;
    top: 34%;
    z-index: 5;
  }

  .angle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 2rem;
    width: 2rem;
    background-color: white;

    &.left {
      left: 1rem;
    }

    &.right {
      transform: rotate(180deg) translateY(-50%);
      right: 1rem;
    }
  }

  .name-wrapper {
    position: absolute;
    top: 60%;

    .name-slider {
      position: relative;
      white-space: nowrap;

      p {
        position: relative;
        margin: 0px;
        color: rgb(255, 255, 255);
        font-size: 230px;
        padding-right: 50px;
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        font-weight: 700;

        &:nth-of-type(2) {
          position: absolute;
          left: 100%;
          top: 0;
        }
      }
    }
  }
}

#about {
  height: 60rem;
  gap: 8rem;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: 95%;
    pointer-events: none;
  }

  #about-header {
    font-size: 2.75rem;
    z-index: 1;
    max-width: 76%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-weight: 700;
  }

  #about-btn {
    position: absolute;
    right: 15rem;
    top: 55%;
  }
}

#work-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3rem;

  app-showcase {
    width: 100%;
  }

  #sub-link {
    font-size: 0.8rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
    color: blue;
    padding: 0 7rem;

    app-svg-icon {
      height: 1rem;
      width: 1rem;
      background-color: blue;
    }
  }
}

#portfolio {
  width: 100%;
  max-width: 100%;
  padding: 10rem 0;
  overflow: hidden;

  .portfolio-wrapper {
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
    width: 100%;
    // margin-left: -18rem;

    .portfolio-item {
      height: 16rem;
      width: 23rem;
      flex-shrink: 0;
      background-color: gray;

      img {
        width: 85%;
        height: 80%;
        object-fit: cover;
      }
    }
  }
}
