#works-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  gap: 2rem;
  max-width: 80rem;
  width: 85%;
  min-width: 55rem;
  padding: 12rem 4rem 0;

  #title-text {
    font-size: 4.2rem;
    color: black;
    font-family: "hebrew-condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;

    span {
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
    }
  }

  #disclaimer {
    font-size: 0.8rem;
    line-height: 1.2rem;
    width: 75%;
  }

  .header-accent {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5rem;

    #accent-border {
      position: relative;
      height: 1px;
      background-color: #e1e1e1;
      z-index: 1;
      flex-grow: 1;

      .text {
        background-color: white;
        position: absolute;
        left: 3rem;
        top: -7px;
        padding: 0 0.75rem;
      }

      .text-style {
        color: #1d1d20;
        font-size: 0.7rem;
      }
    }

    #rotating-text {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10rem;
      width: 10rem;
      z-index: 5;

      #micro-animation-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;

        #micro-animation {
          background-color: black;
          height: 100%;
          width: 100%;
        }
      }

      #spark {
        background-color: black;
        height: 60%;
        width: 60%;
      }
    }
  }
}

#works-wrapper {
  max-width: 80rem;
  width: 85%;
  min-width: 55rem;
  padding: 8rem 4rem 4rem;
  min-height: 50rem;
}

@media screen and (min-width: calc(105 * clamp(16px, 1.25vw, 19px))) {
  #project-header-wrapper {
    #project-header {
      padding: 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  #works-header {
    padding: 7rem 1.25rem 0;
    gap: 2.5rem;
    min-width: unset;
    width: 100%;

    #title-text {
      font-size: 2.75rem;
      line-height: 3.25rem;

      #rolling-break {
        display: unset;
      }
    }

    .header-accent {
      gap: 2.5rem;
      height: 10rem;

      #accent-border {
        .text {
          top: -5px;
          padding: 0 0.5rem;
          left: 1rem;
        }

        #best-friend-text {
          display: none;
        }
      }

      #rotating-text {
        height: 9rem;
        width: 9rem;
        background-color: white;
        position: absolute;
        right: 1rem;
      }
    }
  }

  section {
    max-width: 100%;
  }

  #works-wrapper {
    padding: 6rem 1.25rem 0;
    min-width: unset;
    width: 100%;
  }
}
