<section>
  <div id="works-header" class="section-wrapper">
    <span id="title-text">
      <span id="desktop-text">MY LATEST PROFESSIONAL & <br />FREELANCE WORK</span>
      <span id="mobile-text"> MY LATEST FREELANCE <br />& PROFESSIONAL<br />WORK </span>
    </span>

    <div id="header-accent" class="header-accent">
      <div id="accent-border">
        <div class="text text-style">SEE WHAT I'VE BEEN WORKING ON</div>
      </div>

      <div id="rotating-text-wrapper">
        <div id="rotating-text">
          <div id="micro-animation-wrapper">
            <app-svg-icon id="micro-animation" [path]="'../../assets/icons/curve text.svg'"></app-svg-icon>
          </div>
          <app-svg-icon id="spark" [path]="'../../assets/icons/spark.svg'"></app-svg-icon>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="section-wrapper" id="works-wrapper">
    <app-single-showcase [projects]="showcaseProjects" />
  </div>
</section>
