<section>
  <div id="works-header" class="section-wrapper">
    <span id="title-text">
      <span>MY LATEST PROFESSIONAL & <br />FREELANCE WORK</span>
    </span>

    <div id="header-accent" class="header-accent">
      <div id="accent-border">
        <div class="text text-style">
          EMBRACE WHITESPACE <span id="best-friend-text" class="text-style">LIKE YOUR BEST FRIEND</span>
        </div>
      </div>

      <div id="rotating-text">
        <div id="micro-animation-wrapper">
          <app-svg-icon id="micro-animation" [path]="'../../assets/icons/micro-animation.svg'"></app-svg-icon>
        </div>
        <app-svg-icon id="spark" [path]="'../../assets/icons/spark.svg'"></app-svg-icon>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="section-wrapper" id="works-wrapper">
    <app-showcase [multi]="false" [projects]="featuredProjects"></app-showcase>
  </div>
</section>
