<section>
  <div id="works-header" class="section-wrapper">
    <span id="title-text">
      <span>MY LATEST PROFESSIONAL & <br />FREELANCE WORK</span>
    </span>

    <div id="header-accent" class="header-accent">
      <div id="accent-border">
        <div class="text text-style">SEE WHAT I'VE BEEN WORKING ON</div>
      </div>

      <div id="rotating-text">
        <div id="micro-animation-wrapper">
          <app-svg-icon id="micro-animation" [path]="'../../assets/icons/curve text.svg'"></app-svg-icon>
        </div>
        <app-svg-icon id="spark" [path]="'../../assets/icons/spark.svg'"></app-svg-icon>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="section-wrapper" id="works-wrapper">
    <div id="project-wrapper">
      <a class="project-link" *ngFor="let project of showcaseProjects; let index = index" [routerLink]="project.link">
        <div class="showcase single">
          <div class="focused-project focus" [attr.id]="'showcase-' + index">
            <img [src]="project.showcase" loading="eager" class="focus" />
          </div>
        </div>
        <div
          class="project-information-wrapper"
          (mouseenter)="hoverIndex = index"
          (mouseleave)="hoverIndex = null"
          [ngClass]="{
            'enable-hover': hoverIndex === index
          }"
        >
          <div class="project-information-header">
            <div class="header">
              <span>{{ project.label }}</span>
              <app-svg-icon [path]="'assets/icons/link-arrow.svg'" class="lg light"></app-svg-icon>
            </div>
            <span class="description">{{ project.description }}</span>
          </div>
          <div class="project-information-footer">
            <span>{{ project.role }}</span>
            <span>0{{ project.index + 1 }}. / 0{{ showcaseProjects.length }}.</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
